<% provide(:title, 'About')%>
<!DCOTYPE html>
<html>
<head>
	<title>R4$Technologies | <%= yield(:title) %></title>
</head>
<body>
<h1>About Us</h1>
<p>R4STechnologies is a company located in south africa, it is an emerging IT solutions company currentlt supplying customer with computer based components such as mouse and pheripherails</p>
</body>
</html>