<% provide(:title, 'About')%>
<!DCOTYPE html>
<html>
<head>
	<title>R4$Technologies | <%= yield(:title) %></title>
</head>
<body>
<h1>About Us</h1>
<p>This is the login page for the new website</p>
</body>
</html>