<% provide(:title, 'Home') %>
<div class = "center hero-unit">
	<h1>Welcome to R4$Technologies</h1>
	<h2>
		Welcome Home
	</h2>
<p>This is the home page for <a href="#">www.R4STechnologies.com</a></p>
</div>

