<footer class="footer">
	<small>
		Copyright 2014 by R4STechnologies
	</small>
	<nav>
		<ul>
			<li><%= link_to "Get Social On R4S", '#' %></li>
			<li><%= link_to "News feed", '#'%></li>
		</ul>
	</nav>	
</footer>